*{margin:0;padding:0;}

body{
    background-color: #e0e5e5;
    font:14px/21px Arial, Helvetica, sans-serif;
    width:960px;
    margin: 40px auto;
}

h1{
    font: bold 65px/60px Helvetica, Arial, sans-serif;
    text-align:center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px #333;
}

small {
    font-size:20px;
    text-transform: uppercase;
    color: #333;
    display: block;
}

h2 a{
    display: block;
    text-decoration: none;
    font: 25px Georgia, Time, Serif;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 2px 6px #333;
    color: #FFFFFF;
    padding-bottom:30px;
}

h2 a:hover {
    color: #9523ce;
}

ul {
    list-style:none;
}

li {
    float:left;
    display:inline;
    width:33%;
    height:auto;
    -webkit-perspective:500;
    -webkit-transform-style:preserve-3d;
    -webkit-transition-property:perspective;

    }

img {
    height:auto;
    border: 10px solid #FFFFFF;
    z-index:1;
    transform:rotateY(30deg);
    transition-property:transform;
}
#movieposters li:hover img {
    -webkit-transform:rotateY(0deg);
}
.movieinfo:hover {
    -webkit-transform:rotateY(0deg);
}

.movieinfo {
    margin:-195px 0 0 55px;
    position:relative;
    width:200px; height:180px;
    border: 10px solid #e0e5e5;
    background-color: #FFFFFF;
    transform:rotateY(30deg);
    transition-property:transform;

}
.movieinfo figcaption {
    text-align:center;
    padding-left:1%;
    padding-right:1%;

}

h3 {
    color: darkred;
    text-transform: uppercase;
    text-align:center;
    padding-bottom:15px;
    padding-top:10px;

}
figure {
    margin:3%;
}


.movieinfo a {
    background:darkred;
    color:#FFFFFF;
    border-radius:5px;
    padding: 10px;
    text-decoration:none;
    text-align:center;
    margin:0 auto;
    display:block;
    width:80px;



}